.body{
    background-color: rgb(209, 202, 195);
}

.contenedor{
    background-color: white;
    width: 1218px;
    height: 700px;
    position: absolute;
    bottom: 0px;
    left: 380px;

}

.form{
    position: absolute;
    left: 80px;
    top: 70px;
    padding-top: 10px; 
}
.form1{
    position: absolute;
    left: 80px;
    top: 120px;
    padding-top: 10px; 
}
.form1 input{
    width: 200px; 
    padding-top: 5px;
    border: none;
    border-bottom: 1px solid rgb(0, 0,0, .2 );
    margin: 10px;
    outline: none;
    
 }

.form input{
   width: 200px; 
   padding-top: 5px;
   border: none;
   border-bottom: 1px solid rgb(0, 0,0, .2 );
   margin: 10px;
   outline: none;
   
}

h2{
    padding-left: 16px;
}

.submit{
    width: 120px;
    height: 30px;
    background-color: rgb(130, 181, 223);
    border-radius: 50px;
    position: absolute;
    top: 210px;
    left: 650px;
}