.body{
    background-color: rgb(209, 202, 195);
}

.contenedor{
    background-color: white;
    width: 1218px;
    height: 700px;
    position: absolute;
    bottom: 0px;
    left: 380px;

}

.form{
    position: absolute;
    left: 80px;
    top: 100px;
    padding: 10px ;
   
    
}

h2{
    padding-left: 16px;
}

.submit{
    width: 120px;
    height: 30px;
    background-color: rgb(130, 181, 223);
    border-radius: 50px;
}